<div style="color: azure; align-items: center;">
    <h1>{{film.title}}</h1>
    <div style="display: inline-block;">
        <span>Director: </span>
        <span>{{film.director}}</span>
    </div>
    <mat-divider></mat-divider>
    <div style="display: inline-block;">
        <span>Producer(s): </span>
        <span>{{film.producer}}</span>
    </div>
    <mat-divider></mat-divider>
    <div style="display: inline-block;">
        <span>Release Date: </span>
        <span>{{film.release_date}}</span>
    </div>