<div style="color: azure; align-items: center;">
    <h1>{{person.name}}</h1>
    <div style="display: inline-block;">
        <span>Height: </span>
        <span>{{person.height}}</span>
    </div>
    <mat-divider></mat-divider>
    
    <mat-divider></mat-divider>
    <div style="display: inline-block;">
        <span>Mass</span><span>{{person.mass}}</span>
    </div>
    <mat-divider></mat-divider>
    <div style="display: inline-block;">
        <span>Hair Colour: </span><span>{{person.hair_color}}</span>
    </div>
    <mat-divider></mat-divider>
    <div style="display: inline-block;">
        <span>Skin Colour: </span><span>{{person.skin_color}}</span>
    </div>
    <mat-divider></mat-divider>
    <div style="display: inline-block;">
        <span>Sex: </span><span>{{person.gender}}</span>
    <div style="display: inline-block;"></div>
    <mat-divider></mat-divider>
    <div style="display: inline-block;">
        <span>Birth Year</span><span>{{person.birth_year}}</span>
    <div style="display: inline-block;">
</div>